.navbar {
  background: #2E2E2E !important;
  opacity: 0.9;
  position: absolute !important;
  width: 100%;
  margin-top: -5px;
}

.navbar-toggler {
  color: #fff !important;
  margin-top: 5px;
}

.navbar-collapse .container-fluid {
  padding: 1.5rem 2.5rem 1.5rem;
  background: #2E2E2E !important;
}

.navbar-collapse h4 {
  /*color: #818a91;*/
  color: #fff !important;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.lead {
  color: #fff !important;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  /*color: #3A3A39;*/
  color: #fff !important;
  margin-top: -5px;
  height: 600px;
  background: transparent !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.87);
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

div.avatar img {
  border-radius: 50%;
  margin-top: 4em;
}

.jumbotron-heading {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  margin-top: 1rem;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #2E2E2E !important;
}

footer p {
  margin-bottom: .25rem;
}
